node_modules
.env
/.idea
/src/generated/prisma

/dist

/tests

error.log

combines.log

UBER ARCHITECTURE.jpeg

a.txt
a.ts

dump.rdb

features.md

jest.config.js

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

settings.json